* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black  ;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 5px red solid;
    
}

main {
    display: flex;
    column-gap: 10px;
    flex-grow: 1;
    background-color: beige;
   
}

ul {
    list-style: none;
}

header {
    padding: 10px;
    background-color: rgb(247, 143, 231);
}

header ul {
display: flex;
flex-grow: 1;
/*justify-content: space-around;
flex: 1;*/
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    margin-right: 10px;
}

.logo {
    /*height:40px;*/
    /*overflow: hidden;*/
width: 80px;
margin-right: 20px;
}

img {
    max-width: 100%;
   display: block;
}

header li:nth-child(4) {
    margin-right: auto;
    /*margin-left: auto;*/
}

footer {
    background-color: rgb(247, 143, 231);   
}

/*aside {
    width: 30%;*/
}
aside {
    flex: 0 0 200px;
}

